.card__container{
    flex-shrink: 0;
    padding-top:20vh;
    padding-bottom:30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.card{
    width:20vw;
    height:30vh;
    background-color: beige;
    border-radius: 20px;
    border:3px solid  brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.card__button{
    width:50%;
    height:20%;
    border-radius: 20px;
    border:1px solid  brown;
    background-color:brown;
    color:white;
    font-weight: 600;
    cursor: pointer;

}
.card__button_hidden{
    display: none;
}
.card__button:hover{
    box-shadow: 0px 1px 29px -9px rgba(0, 0, 0, 0.75);
    transition: 0.5s ease;
}

.card__translate_hidden{
    display: none;
}
.card__translate{
    cursor: pointer;
    display: block;
}
.card__buttons{

    display:flex;
    gap:40px;
}
.card__arrowright, .card__arrowleft{
    width:40px;
}
.card__arrowright{
    transform:rotate(180deg);
}
.card__arrowright:hover, .card__arrowleft:hover{
    cursor:pointer;
    width:42px;
    transition: 0.2s ease;
}
/*+.card__arrowright:hover, .card__arrowleft:hover{
    width:45px;
    transition: 0.5s ease;
}
*/