.header{
    width:88%;
    position: fixed;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:13vh;
    background-color: brown;
}
.header__logo{
    justify-self: center;
    width:40%;
    color:white;
    font-size: 20px;
    font-weight: bold;
}
.header__img-div{
    display:flex;
    justify-content: flex-start;
    width:30%;
}
.header__img{
    float:left;
    width:15%;
}